@* @model Tuple<IEnumerable<Product>, IEnumerable<Category>> *@
@* @model Tuple<IEnumerable<dynamic>, IEnumerable<Category>> *@
@* @model Tuple<IEnumerable<ProductWithCoupon>, IEnumerable<Category>> *@
@model ProductCategoryViewModel

@* Product role Admin & Employee *@

@* Start (Admin & Employee)*@
@if (User.Identity.IsAuthenticated && User.IsInRole("Employee") || User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="d-flex flex-row gap-4">
        <a asp-action="Add">
            <button class="btn btn-primary">
                Add
            </button>
        </a>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <form method="post" asp-action="DeleteAll">
                <button type="submit" class="btn btn-danger">Delete All</button>
            </form>
        }

    </div>
    <div class="row pt-5">
        <div class="row gx-4 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center ">
            @foreach (var item in Model.Products)
            {
                <div class="col mb-5" style="width:auto;">
                    <div class="card gap-3 position-relative" style="max-width: 18rem; max-height:500px;">
                        @if (item.IsDetactive)
                        {
                            <span class="badge bg-danger text-white position-absolute fs-5">Deactivated</span>
                        }
                        else
                        {
                            <span class="badge bg-success text-white position-absolute fs-5">Actived</span>
                        }
                        <a class="text-decoration-none text-black" asp-controller="Product" asp-action="Display" asp-route-productId="@item.Id">
                            <img src="@item.ImageUrl" class="card-img-top" alt="..." style="max-height: 300px;">
                        </a>
                        <div class="card-body">
                            <a class="text-decoration-none text-black" asp-controller="Product" asp-action="Display" asp-route-productId="@item.Id">
                                <h5 class="card-title">
                                    @item.Name
                                </h5>
                                <div class="d-flex">
                                    <span>Price: </span>
                                    <p class="mx-3">@item.Price.ToString("#,##0") Vnđ</p>
                                </div>
                            </a>
                            <a asp-controller="Product" asp-action="Update" asp-route-id="@item.Id">
                                <button class="btn btn-primary">
                                    Update
                                </button>
                            </a>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id">
                                    <button class="btn btn-danger">
                                        Delete
                                    </button>
                                </a>
                            }
                            <form asp-action="DeactivateProduct" method="post" style="display: inline;">
                                <input type="hidden" name="id" value="@item.Id" />
                                <input class="btn btn-danger" type="submit" value="Deactivate" />
                            </form>

                            <form asp-action="ReactivateProduct" method="post" style="display: inline;">
                                <input type="hidden" name="id" value="@item.Id" />
                                <input class="btn btn-success" type="submit" value="Activate" />
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
@* End (Admin & Employee)*@



@* Product role Customer & Visitor *@

else
{
    @* Start (Customer & Visitor)*@
    <div class="">
        <div class="position-relative">
            <a class="btn btn-outline-success m-3" asp-action="Index" asp-route-sortOrder="price_asc">
                <i class="bi bi-arrow-up"></i> Price
            </a>
            <a class="btn btn-outline-danger m-3" asp-action="Index" asp-route-sortOrder="price_desc">
                <i class="bi bi-arrow-down"></i> Price
            </a>
        </div>

        <div class="d-flex ">

            @* Start Categories *@

            <div class="" style="weight:200px;">
                <div class="mb-3">
                    <h4 class="text-black fw-bold" style="weight:300px;">Danh mục</h4>
                    <ul class="list-unstyled">
                        @foreach (var item in Model.Categories)
                        {
                            <li>
                                <div class="d-flex justify-content-between">
                                    <a class="text-decoration-none text-info" asp-controller="Product" asp-action="Index" asp-route-categoryName="@item.Name" method="get">
                                        @item.Name
                                    </a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            @* End Categories *@
            @* Start TacGia *@
          


                
            @* End TacGia *@




            <div>
                @* Start Products *@
                <section class="py-2">
                    <div class="container px-1 mt-5">
                        <div class="row gx-4 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center ">

                            @foreach (var item in Model.Products)
                            {

                                <div class="col mb-5" style="width:auto;height:auto;">
                                    <div class="card gap-3" style="max-width: 18rem;">
                                        <a class="text-decoration-none text-black" asp-controller="Product" asp-action="Display" asp-route-productId="@item.Id">
                                            <img src="@item.ImageUrl" class="card-img-top" alt="..." style="height: 280px;">
                                        </a>

                                        <div class="card-body">
                                            <a class="text-decoration-none text-black" asp-controller="Product" asp-action="Display" asp-route-productId="@item.Id">
                                                <h5 class="card-title">
                                                    @item.Name
                                                </h5>
                                                <div class="d-flex">
                                                    <span>Thể loại:</span> <p class="mx-3">@item.Category.Name</p>
                                                </div>
                                                <div class="d-flex">
                                                    <span>Tác giả:</span> <p class="mx-3">@item.TacGia.Name</p>
                                                </div>
                                                <div class="d-flex">
                                                    <span>Price: </span>
                                                    <p class="mx-3">@item.Price.ToString("#,##0") Vnđ</p>
                                                </div>
                                            </a>
                                            <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@item.Id" asp-route-quantity="1">
                                                <button class="btn btn-outline-dark">
                                                    <i class="bi-cart-fill me-1"></i> Add to Cart
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </section>
                @* End Products *@

            </div>
        </div>
    </div>

    @*End (Customer & Visitor)*@
}