@model IEnumerable<Product>

@{
    ViewData["Title"] = "Search Result";
}

<h2>Search Result</h2>
@if (Model != null)
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card" style="width: 18rem;">
                    <img src="@item.ImageUrl" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Price: @item.Price.ToString("#,##0") Vnđ</p>
                        <p class="card-text">Description: @item.Description</p>
                        <p class="card-text">Category: @item.Category?.Name</p>
                        <a href="#" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No results found.</p>
}
