@model IEnumerable<WebsiteBook.Models.TacGia>

@{
    ViewData["Title"] = "Tac Gia";
}

<h1>IndexTacGia</h1>



<p>
    <a asp-action="AddTacGia"> <button class="btn btn-primary"> Add </button> </a>

       
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                    <a asp-action="Update" asp-route-id="@item.Id"><button class="btn btn-primary"> Update </button></a> |

                    <a asp-action="DeleteTacGia" asp-route-id="@item.Id"><button class="btn btn-primary"> Delete </button></a>
            </td>
        </tr>
}
    </tbody>
</table>
