@* @model Tuple<IEnumerable<Coupon>, IEnumerable<Category>> *@
@model ValueTuple<IEnumerable<Coupon>, IEnumerable<Category>>

<h1>Vouchers</h1>

@* Role Admin & Employee *@
@if (User.Identity.IsAuthenticated && User.IsInRole("Employee") || User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <a asp-controller="Coupon" asp-action="Add">Add</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Discount</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var coupon in Model.Item1)
            {
                <tr class="justify-content-between align-items-center">
                    <td>
                        <span>@coupon.Id</span>
                    </td>
                    <td>
                        <span>
                            @coupon.Code
                        </span>
                    </td>
                    <td>
                        <span>@Model.Item2.FirstOrDefault(c => c.Id == coupon.CategoryId)?.Name</span>
                    </td>
                    <td>
                        <span>
                            @coupon.Amount

                        </span>
                    </td>
                    <td>
                        <span>

                            @coupon.Discount
                        </span>
                    </td>
                    <td>
                        <span>

                            @coupon.StartDate.ToShortDateString()
                        </span>
                    </td>
                    <td>
                        <span>
                            @coupon.EndDate.ToShortDateString()

                        </span>
                    </td>
                    <td>
                        <span>

                            @coupon.IsActive
                        </span>
                    </td>
                    <td>
                        @Html.ActionLink("Update", "Update", new { id = coupon.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Read more...", "Display", new { id = coupon.Id }, new { @class = "btn btn-primary" })
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Delete", "Delete", new { id = coupon.Id }, new { @class = "btn btn-danger" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@* Role Visitor & Customer *@
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Discount</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var coupon in Model.Item1)
            {
                <tr class="justify-content-between align-items-center">
                    <td>
                        <span>@coupon.Id</span>
                    </td>
                    <td>
                        <span>
                            @coupon.Code
                        </span>
                    </td>
                    <td>
                        <span>
                            @Model.Item2.FirstOrDefault(c => c.Id == coupon.CategoryId)?.Name
                        </span>
                    </td>
                    <td>
                        <span>
                            @coupon.Amount

                        </span>
                    </td>
                    <td>
                        <span>

                            @coupon.Discount
                        </span>
                    </td>
                    <td>
                        <span>

                            @coupon.StartDate.ToShortDateString()
                        </span>
                    </td>
                    <td>
                        <span>
                            @coupon.EndDate.ToShortDateString()

                        </span>
                    </td>
                    <td>
                        
                        @if (@coupon.IsActive)
                        {
                            <span class="rounded bg-success text-white fw-bold p-1">Available</span>
                        }
                        else
                        {
                            <span class="rounded bg-warning text-white fw-bold p-1">Unavailable</span>
                        }
                    </td>
                    <td>
                        @if (@coupon.IsActive)
                        {
                            <a asp-controller="Product" 
                            asp-action="Index" 
                            asp-route-categoryName="@Model.Item2.FirstOrDefault(c => c.Id == coupon.CategoryId)?.Name" 
                            class="text-decoration-none rounded bg-success text-white fw-bold p-1">
                                Use Now
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Coupon" 
                            asp-action="Display" 
                            asp-route-id="@coupon.Id" class="text-decoration-none rounded bg-info text-white fw-bold p-1">
                                Infomation
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}