@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Customer</h2>
@using (Html.BeginForm())
{
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
        <div class="container-fluid px-5">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                @* Search bar *@
                <form class="d-flex" asp-controller="" asp-action="Search" method="get" style="width: 150px;">
                    <input class="form-control me-2" type="search" id="txtSearch" placeholder="Search" aria-label="Search" name="searchString">
                    <button class="btn btn-secondary" type="submit" value="Search">
                        <img src="https://cdn.icon-icons.com/icons2/2768/PNG/512/search_button_icon_176619.png" class="img-fluid rounded" alt="ICON" style="max-width: 30px; height: 30px;">
                    </button>
                </form>
            </div>
        </div>
    </nav>
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>FullName</th>
            <th>Username</th>
            <th>Email</th>
            <th>Address</th>
            <th>Actions</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FullName</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.Address</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id"><button type="submit" class="btn btn-primary">Edit</button></a>

                    <form asp-action="LockAccount" method="post" style="display: inline;">
                        <input type="hidden" name="id" value="@user.Id" />
                        <input class="btn btn-danger" type="submit" value="Block" />
                    </form>
                    <form asp-action="UnlockAccount" method="post" style="display: inline;">
                        <input type="hidden" name="id" value="@user.Id" />
                        <input class="btn btn-success" type="submit" value="Unlock" />
                    </form>
                </td>
                <td>
                    @if (user.LockoutEnd != DateTimeOffset.MaxValue)
                    {
                        <span class="text-success">Unblock</span>
                    }
                    else
                    {
                        <span class="text-danger">Blocked</span>

                    }
                </td>
            </tr>
 
        }
    </tbody>
</table>